---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
	<div class="stack gap-20">
		<div class="wrapper about">
			<section>
				<h1 class="section-title">404!</h1>
				<h2 class="section-title">
					Página não encontrada! Clique <a href="${import.meta.env.BASE_URL}">aqui</a> para voltar para a página inicial.
				</h2>
		</div>
	</div>
</BaseLayout>
