---
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>&copy; {currentYear} GRUPHEIM</p>
	</div>
	<p class="socials">
		O código fonte do site está disponível em:
		<a class="social" href="https://github.com/glmorandi/grupheim"> GitHub</a>
	</p>
	<p>glmorandi@ucs.br</p>
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-top: auto;
		padding: 3rem 2rem 3rem;
		text-align: center;
		color: var(--gray-100);
		font-size: var(--text-sm);
	}

	footer a {
		color: var(--gray-100);
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	footer a:hover,
	footer a:focus {
		text-decoration-color: currentColor;
	}

	.group {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.socials {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	@media (min-width: 50em) {
		footer {
			flex-direction: row;
			justify-content: space-between;
			padding: 2.5rem 2.5rem;
		}

		.group {
			flex-direction: row;
			gap: 1rem;
			flex-wrap: wrap;
		}

		.socials {
			flex-direction: row;
			justify-content: flex-end;
			gap: 0.25rem;
		}
	}
</style>
